
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}


/* ------------- */


.navigation{
    height: 74px;
    background-color: #00305B;
    position: relative;
    top: -10px;
    display:flex;
    justify-content:center;
    position:sticky;
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.wrapper{
    width: 354px;
    /* max-width: 110px; */
    height: 100%;
    /* border: 1px solid red; */
    
}


h1{
    font-family: sans-serif;
    color: white;
}

header{
    display: flex;
    /* border: 1px solid white; */
    justify-content:space-between;
    align-items: center;
    margin-top: 1em;
}


nav{
    width: 269px;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav li:first-child{
    margin-right: 1.5em;
}

nav li:nth-child(2){
    margin-right: 1.5em;
}

nav li:last-child{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

nav ul{
    display: flex;
    width:inherit;
    justify-content:space-between;
    align-items:center;
    list-style: none;
}




.img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    display: flex;
    overflow: hidden;
}


nav{
    display:none;
}

/* --------------------  */

.menu-item{
    position: absolute;
    left: 100%;
    top:0px;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;

    display:none;   
    background: linear-gradient(180deg, rgba(0, 49, 91, 0.774) -24.22%, rgba(0, 48, 91, 0.5494) 132.65%);
}


.menu-item .menu-container{
    width: 400px;
    /* border: 1px solid white; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.menu-container a{
    font-size: 25px;
    color: rgba(251, 251, 251, 0.94);
    padding:.8em ;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}

.close-menu{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 30px;
    display:flex;
    align-items:center;
    justify-content:center;   
}

.bar-cls1 , .bar-cls2{
    width: 6px;
    height: inherit;
    background-color:white;
    transform:rotate(45deg);
    border-radius: 2px;
}

.bar-cls2{
    transform:rotate(-45deg);
    position: absolute;
}

/* ------------------------ */

.menu-icon{
    width: 44px;
    height: 33px;
    /* border: 1px solid red; */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    margin-top: .5em;
}


.menu-icon .bar1 , .bar2 , .bar3{
    width: 100%;
    height: 7px;
    border-radius: 2px;
    background-color: white;
}

.bar2{
    width: 80%;
    align-self: flex-end;
}

.bar3{
    width:60%;
    align-self:flex-end;
}



/* -----------------Media Query------------------- */

@media screen and (min-width:480px) {
    .wrapper{
        width: 440px;
    }
}





@media screen and (min-width:680px) {
    .wrapper{
        width: 640px;
    }

    .menu-icon{
        display:none;
    }

    .menu-item{
        display:none;
    }

    .navigation .wrapper{
        /* border: 1px solid white; */
        width: 700px;
    }

    nav{
        display:block;
        /* border: 1px solid white; */
        width: 380px;
    }
}


@media screen and (min-width:980px) {
    .wrapper{
        /* border: 1px solid red; */
        width: 900px;
    }

    .menu-icon{
        display:none;
    }

    .menu-item{
        display:none;
    }

    .navigation .wrapper{
        /* border: 1px solid white; */
        width: 900px;
    }

    nav{
        display:block;
        /* border: 1px solid white; */
        width: 380px;
    }
}


@media screen and (min-width:1200px) {
    .wrapper{
        /* border: 1px solid white; */
        width: 1005px;
    }

    .navigation .wrapper{
        width: 1180px;
    }


    .menu-icon{
        display:none;
    }

    .menu-item{
        display:none;
    }

    .navigation .wrapper{
        /* border: 1px solid white; */
        width: 900px;
    }

    nav{
        display:block;
        /* border: 1px solid white; */
        width: 380px;
    }

    nav li:nth-child(1){
        margin-right: 1.2em;
    }


}

/* ------------------------------------------------- Body Part ------------------------------------------- */


body{
    background-image: url(/static/media/profile_images/background\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    background-clip: cover;
}


/* ----------------------------------- Greationg Part ------------------------------------------ */




.edit{
    /* border: 1px solid blue; */
    position: relative;
    top: 150px;
    margin-bottom: 20em;
}


.edit .wrapper{
    /* border: 1px solid red; */
    margin: 0 auto;
}

.edit .wrapper .container{
    /* border: 2px solid green; */
    display:flex;
    flex-direction:column;
    align-items: center;
}


.card{
    width: 365px;
    height: 433px;
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    display:flex;
    align-items:center;
    background: #FAFAFA;
    border: 1px solid #00315b73;
    transform: translateX(-200px);
    opacity: 0;
}

.card-container{
    /* border: 1px solid green; */
    width: 82%;
    height: 85%;
    margin: 0 auto;
}


.card form{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
}


.imgContaine{
    width: 110px;
    height: 110px;
    border: 1px solid #00305B;
    border-radius:50%;
    margin:0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    margin-bottom: .5em;
}

.imgContaine img{
    width: 100%;
    height: auto;
}


.card form input[type="text"] , .card form input[type="email"]{
    padding:.8em;
    width: 100%;
    border-radius:5px;
    border: 1px solid rgb(173, 173, 173);
    margin-bottom: .9em;
    outline:none;
}

form input[type="file"]{
    padding:.8em;
    width: 100%;
    border-radius:5px;
    margin-bottom: .9em;
    color: rgb(71, 71, 71);
}


.card form button{
    padding:.8em 2em;
    width: 100%;
    border-radius: 50px;
    border: none;
    background: linear-gradient(91.46deg, #F66F41 -21.67%, #F96534 139%);
    color: white;
    font-size: 17px;
}



/* --------  */

.progress .progress-container{
    /* border: 1px solid red; */
    width: 365px;
    margin-top: 2.5em;
}

.progress-user .progress-percentage{
    /* border: 1px solid green; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:.8em 0;
}

#bar{
    width:inherit;
    height: 5px;
    background-color: #00305B;
    border-radius: 4px;
    margin-top: .2em;
    width: 10px;
}


.header{
    display:flex;
    flex-direction:column;
}


span{
    color: #001324;
    font-size: 18px;
}


.progressBar{
    height: 20px;
    border-radius: 50px;
    background: #EDEDED;
    border: 0.3px solid #a0a0a0;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.07);
    margin-bottom: 1.5em;
}


.progressBar .progressInside{
    width: 0%;
    height:100%;
    background: linear-gradient(90deg, #03B877 -8.19%, #02AA6E 124.94%);
    border-radius: 50px;
}


/*  */


.endtasks-container .search-task{
    border: 1px solid #00234273;
    padding:.7em ;
    height: 50px;
    border-radius: 50px;
    background: #fbfbfb;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.06);
}


.search-task input{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 16px;
    width: 240px;
}


.progress button {
    border: none;
    background-color: transparent;
}

.progress button img{
    width: 50px;
    margin-top: 6px;
    margin-right: -8px;
}

.progress form{
    /* border: 1px solid; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 380px;
}

.task{
    /* border: 1px solid red; */
    height: 200px;
    margin-top: 1em;
    overflow-y: scroll;
    /* overflow: hidden; */
}

.body ::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

.task-item{
    border: 1px solid #00182e62;
    height: 60px;
    margin-top: .5em;
    border-radius: 5px;
    background-color:rgb(251, 251, 251);
    display:flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.06);
}

.task-item h4{
    margin-left: 1em;
}

.task-item span{
    margin-right: 1em;
}


/* ---------------------------------- */

@media screen and (min-width:580px) {

    .card{
        width: 395px;
        height: 435px;
    }

    .progress , .progress-percentage , .progressBar , .search-task , .task{
        width: 395px;
    }

}


@media screen and (min-width:780px) {
    .wrapper{
        width:700px;
    }



    .card{
        width: 395px;
        height: 435px;
    }

    .progress , .progress-percentage , .progressBar , .search-task , .task{
        width: 395px;
    }

    .edit .wrapper .container{
        display:flex;
        flex-direction:column;
        align-items: center;
    }

}


@media screen and (min-width:980px) {
    .wrapper{
        /* border:1px solid red; */
        width:900px;
    }



    .card{
        width: 395px;
        height: 435px;
    }

    .progress , .progress-percentage , .progressBar , .search-task , .task{
        width: 395px;
    }

    .edit .wrapper .container{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
    }

    /*  */

    .progress ,.task , .search-task , .progressBar , .progress-percentage{
        width: 450px;
    }



    .navigation .wrapper , .edit .wrapper{
        width: 960px;
    }



}



.task::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
.task::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);        /* color of the tracking area */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
  
.task::-webkit-scrollbar-thumb {
    background-color: #00305B;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}


.progress{
    transform: translateX(200px);
    opacity:0;
}