{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>Login</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
         <div class="navigation">
            <div class="wrapper">
                    <header>
                        <a href="{% url 'heroPage' %}"><h1 id="logo">Taskii</h1></a>
                        <nav>
                            <ul>
                                <li><a href="{% url 'heroPage' %}">Home</a></li>
                                <li><a href="{% url 'registerPage' %}">Register</a></li>
                                <li><a href="{% url 'loginPage' %}">Login</a></li>
                            </ul>
                        </nav>

                        <div class="menu-icon">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>

                        <div class="menu-item">
                            <div class="close-menu">
                                <div class="bar-cls1"></div>
                                <div class="bar-cls2"></div>
                            </div>

                            <div class="menu-container">
                                <a href="{% url 'heroPage' %}">Home</a>
                                <a href="{% url 'registerPage' %}">Register</a>
                                <a href="{% url 'loginPage' %}">Login</a>
                            </div>
                        </div>

                    </header>
                </div>
        </div>



        <div class="login">
            <div class="login-card">
                <div class="heading">
                    <h2>Welcome Back</h2>
                    <p>Enter your email and password to Login</p> 
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="">Full Name
                        <div class="input-container">
                            <input type="text" placeholder="Enter Your Name:" name="uname" id="uname" required>
                        </div>
                    </label>
                    <label for="">Password
                        <div id="pass-container" class="input-container">
                            <input type="password"  placeholder="Enter your Password:"  name="upassword" id="upassword" required>
                        </div></label>
                    <input type="submit" value="Start Now">
                </form>
            </div>

        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    </body>
</html>